body{
   width: 500px;
   height: 500px;
   margin: 0 auto;
   margin-top: 50px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: #80ff00;;
    animation-name: moveBg;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes moveBg {

0%{
  background-color: red;
}
25%{
    transform: translateY(400px);
    background-color: blue;
}
50%{
    transform: translate(400px, 400px);
    background-color: green;
}
75%{
   transform: translateX(400px);
   background-color: yellow;
}
100%{
    background-color: red;
}

}
/* @keyframes changeBgColor {
    0% {
        background-color: rgb(255, 0, 0);
    }

    30% {
        background-color: rgb(13, 0, 255);
    }

    60%{
        background-color: rgb(60, 255, 0);
    }
    
    100% {
        background-color: rgb(242, 255, 0);
    }
} */
